# txt files
*.txt

# csv files
*.csv

# png images
*.png

# .idea directory
.idea

# virtual env
multi_feature_plot_env

# .ipynb_checkpoints
.ipynb_checkpoints

# working jupyter notebook
multi_feature_plot_notebook.ipynb